/*
  Navigation
*/

#mainNav {
  min-height: 56px;
  background-color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #64a19d;
  border: 1px solid #64a19d;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #161616;
  font-weight: 700;
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #161616;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #64a19d;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #467370;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #64a19d;
    outline: none;
    border-bottom: 0.25rem solid #64a19d;
  }
}

/*
  Master Head
*/

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.9)), color-stop(75%, rgba(22, 22, 22, 0.7)), to(#161616)), url("../img/bg-masthead.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.9) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.masthead h2 {
  max-width: 20rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

/*
  Buttons
*/

.btn {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: #64a19d;
}

.btn-primary:hover {
  background-color: #4f837f;
}

.btn-primary:focus {
  background-color: #4f837f;
  color: white;
}

.btn-primary:active {
  background-color: #467370 !important;
}

.bg-black {
  background-color: #161616 !important;
}

/*
  About Section
*/

.about-section {
  padding-top: 10rem;
  background: #161616;
}

.about-section p {
  margin-bottom: 5rem;
}

/*
  Projects Section
*/

.projects-section {
  padding: 7rem 0;
  position: relative;
}

.projects-section section-bg-l {
  position: absolute;
  font-size: 3000%;
  color: rgba(0, 0, 0, 0.13);
  left: 10%;
}

.projects-section section-bg-r {
  position: absolute;
  font-size: 3000%;
  color: rgba(0, 0, 0, 0.13);
  right: 10%;
}

.projects-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #64a19d;
  }
}

.projects-section .project-text {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 3rem;
  font-size: 90%;
}
.projects-section .project-text h5 {
  margin-bottom: 0rem;
}

.projects-section .project-text p {
  font-family: 'Open Sans Condensed', sans-serif;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 3rem;
  }
  .projects-section .project-text hr {
    border-color: #64a19d;
    border-width: .25rem;
    width: 30%;
  }
}

.chronology-time {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 180%;
  padding: 2rem 1rem;
  padding-top: 3rem;
}

/*
  Contact Section
*/

.contact-section {
  position: relative;
  padding: 10rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.7)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("../img/bg-contact.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.7) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../img/bg-contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.contact-section .form-inline input {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

/*
  Social Buttons
*/

#socialsNav .social-link {
  -webkit-transition: none;
  transition: none;
  padding: 2rem 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}
#socialsNav .social-link:hover {
  color: rgba(255, 255, 255, 0.75);
}
#socialsNav .social-link:active {
  color: white;
}
#socialsNav {
  font-size: 24px;
}

/*
  Body & General Styling
*/

body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.0625em;
}

a {
  color: #64a19d;
}

a:focus, a:hover {
  text-decoration: none;
  color: #3c6360;
}

.text-primary {
  color: #64a19d !important;
}

.text-green {
  color: #228B22 !important;
}

.text-blue {
  color: #00008B !important;
}

/*
  Footer
*/

footer {
  padding: 5rem 0;
}

/*
  Extra Elements
*/

.background-caption {
  position: absolute; right: 40px; bottom: 40px;
}

.img-sides {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-fit {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.portrait-img {
  max-height: 400px;
  max-width: 80%;
}
