<footer>
    {{- if .Lastmod }}
        {{- $lastmod := .Lastmod.Format "02/01/2006" }}
        <p class="uk-text-small uk-margin-bottom"><span uk-icon="icon: history;"></span> Page last updated on <time datetime="{{ .Lastmod }}" title="{{ .Lastmod }}">{{ $lastmod }}</time>.</p>
    {{- end }}
    <p>Copyright © 2017-{{ now.Format "2006"}} Berk Alp Yakici</p>
    <p class="uk-text-small">Website <a class="uk-link-muted" href="https://github.com/berkalpyakici/berkalpyakici.com" target="_blank">source</a> is under MIT License.</p>
    <ul class="uk-iconnav">
        <li><a href="https://github.com/berkalpyakici" target="_blank" uk-icon="icon: github"></a></li>
        <li><a href="https://linkedin.com/in/berkalpyakici" target="_blank" uk-icon="icon: linkedin"></a></li>
        <li><a href="https://twitter.com/berkalpyakici" target="_blank" uk-icon="icon: twitter"></a></li>
        <li><a href="https://scholar.google.com/citations?user=ef2_1LsAAAAJ" target="_blank" uk-icon="icon: google"></a></li>
    </ul>
</footer>
